.header {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.company {
  display: flex;
  width: 100%;
  padding: 0 2rem;
  margin-top: 5rem;
}

.company .comp {
  margin-right: auto;
}

.logo {
  display: inline-flex;
}

.logo p {
  text-decoration: solid;
  font-weight: 600;
  color: #000;
  margin-right: 0.5rem;
  font-size: 1.25rem;
}

.logo-img {
  width: 6rem;
  height: auto;
}

.title {
  color: #000;
  font-weight: 600;
  margin-top: 0.3125rem;
}

.info {
  font-size: 0.75rem;
}
.pay-address {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-left: 7.75rem;
  margin-top: 0.5rem;
}

.pay-period {
  font-size: 0.75rem;
}

.pay-period p {
  margin-bottom: 0.3125rem;
}

.empl-address {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}

hr {
  padding: 0 2rem;
}

.earning {
  margin-top: 0.5rem;
}

summary {
  margin-bottom: 1rem;
}

.summary hr {
  background-color: #000;
  height: 3px;
  border-radius: 50%;
}

.summary .title,
.summary .earning-info {
  margin-left: 0.5rem;
}

.earning-summary {
  display: grid;
  grid-template-columns: 22rem 14rem 14rem;
  grid-template-rows: repeat(2, auto);
  border: 1px solid black;
  width: 50rem;
}

.earning-summary .cell {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--font-color-light);
}

.earning-summary .left {
  text-align: left;
}

.earning-summary .right {
  text-align: right;
}

.taxes {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Create 8 equal-width columns */
  border-collapse: collapse;
  margin: 1rem 0;
}

.horizontal-line {
  grid-column: span 5;
  border-bottom: 2px solid #000; /* Horizontal line */
  margin-bottom: 0.125rem;
}
.row {
  display: contents; /* Ensures the rows display correctly inside the grid */
}


/* Style for the header row */
.header .cell {
  font-weight: bold;
}

/* Optional: Add hover effect on rows */
.row:hover {
  background-color: #f1f1f1;
}
