.header {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.company {
  display: flex;
  width: 100%;
  padding: 0 2rem;
  margin-top: 5rem;
}

.company .comp {
  margin-right: auto;
}

.logo {
  display: inline-flex;
}

.logo p {
  text-decoration: solid;
  font-weight: 600;
  color: #000;
  margin-right: 0.5rem;
  font-size: 1.25rem;
}

.logo-img {
  width: 6rem;
  height: auto;
}

.title {
  color: #000;
  font-weight: 600;
  margin-top: 0.3125rem;
}

.info {
  font-size: 0.75rem;
}
.pay-address {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-left: 7.75rem;
  margin-top: 0.5rem;
}

.pay-period {
  font-size: 0.75rem;
}

.pay-period p {
  margin-bottom: 0.3125rem;
}

.empl-address {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}

hr {
  padding: 0 2rem;
}

.earning {
  margin-top: 0.5rem;
}

summary {
  margin-bottom: 1rem;
}

.summary hr {
  background-color: #000;
  height: 3px;
  border-radius: 50%;
}

.summary .title,
.summary .earning-info {
  margin-left: 0.5rem;
}
